html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: rgba(128, 128, 128, 0.377)
}
.jumbotron{
    height: 100vh;
    background: rgba(0, 0, 0, 0.918);
    position: relative;
    overflow: hidden;
    
}
.jumbotron::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/3.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;

}
@keyframes anim{
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.display-4{
    margin-top: 125px;
    font-size: 70px;
    color: white;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.txt1{
    letter-spacing: 8px;
    position: relative;
    animation: text 3s 1;
}
.txt2{
    animation: txt 8s 1;
}
@keyframes text{
    0%{
        color: black;
        /* margin-bottom: -50px; */
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -50px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -50px;
    }
}
@keyframes txt{
    0%{
        color: black;
    }
    30%{
        letter-spacing: 15px;
    }
    85%{
        letter-spacing: 1px;
    }
}
.card:hover{
    transform: scale(1.1);
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    text-decoration: none
}
